*,
*::before,
*::after {
	box-sizing: border-box;
}

$container_size: 1200px;

$pc: $container_size;
$tab: 768px;
$sp: 767px;

$mq_pc: 'screen and (min-width: #{$tab + 1px})';
$mq_tab: 'screen and (max-width: #{$tab})';
$mq_sp: 'screen and (max-width: #{$sp})';

$color1: #ff8593; //
$color2: #fff;
$color3: #f9f0ec;
$color4: #fdb0b5;

.btn{
	border: 3px solid $color1;
	background: $color2;
	color: $color1 !important;
	font-size: 1.1rem;
	display: block;
	max-width: 100%;
	margin: 0 auto;
	padding: 0 5px;
	width: 200px;
	height: 45px;
	line-height: 40px;
	border-radius: 45px;
	position: relative;
	font-weight: bold;
	margin-top: 20px;
  transition: 0.3s ease;
  text-align: center;
  cursor: pointer;

	&:after{
		position: absolute;
		content: '';
		background: url(../images/btn1.svg) no-repeat;
		width: 25px;
		height: 30px;
		top: 0;
		bottom: 0;
		margin: auto;
		right: 15px;
	}

	&:hover{
		background: $color1;
		color: $color2 !important;

		&:after{
			position: absolute;
			content: '';
			background: url(../images/btn2.svg) no-repeat;
			width: 25px;
			height: 30px;
			top: 0;
			bottom: 0;
			margin: auto;
			right: 15px;
		}
	}
}

.btn2{
  width: 300px;
  height: 60px;
  line-height: 60px;
}

body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: "游ゴシック", "Yu Gothic", "メイリオ", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.6;
	margin: 0;
  padding: 0;
  background: $color3;
  color: #333;
}

article,aside,footer,header,nav,section,main {
	display: block;
}

h1,h2,h3,h4,h5,h6,
a,p,span,em,small,strong,
sub,sup,mark,del,ins,strike,
abbr,dfn,blockquote,q,
cite,code,pre,ol,ul,li,dl,dt,dd,
div,section,article,main,aside,
nav,header,hgroup,footer,img,
figure,figcaption,address,time,
audio,video,canvas,iframe,details,
summary,fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td {
	border: 0;
	margin: 0;
	padding: 0;
}

a,a:visited {
	color: inherit;
	outline: none;
	text-decoration: none;
}

img {
	border: none;
	height: auto;
	max-width: 100%;
	vertical-align: top;
}

code,kbd,pre,samp {
	font-family: monospace, sans-serif;
	font-size: inherit;
}

ul,ol {
	list-style: none;
}

.inner{
	padding: 30px 40px;
}

@media #{$mq_pc}{
	
}

.header{
  position: relative;
  height: 150px;
  border-top: 4px solid $color1;
}

.flagL{
  position: absolute;
  top: 0;
  left: 0;
}

.flagR{
  position: absolute;
  top: 0;
  right: 0;
}

.logo-p{
  text-align: center;
  color: $color4;
  font-weight: bold;
  font-size: 1.3rem;
}

.logo{
  text-align: center;
  display: block;
  font-size: 2.4rem;
  color: $color4;
  text-shadow: 1px 1px 0 #fff,
             -1px 1px 0 #fff,
             1px -1px 0 #fff,
             -1px -1px 0 #fff;
}

.global-nav{
  background: $color1;
  nav{
    max-width: 980px;
    margin: 0 auto;
  }
}

.nav-items{
  display: table;
  margin: 0 auto;
  width: 100%;
  height: 60px;
}

.nav-item{
  display: table-cell;
  width: 150px;
  border-left: 1px dotted $color2;
  text-align: center;
  padding-top: 10px;

  &:last-child{
    border-right: 1px dotted $color2; 
  }

  img{
    height: 35px;
  }

  a{
    line-height: 2;
    font-size: 1.1rem;
    font-weight: bold;
    color: $color1;
    margin-left: 8px;
    color: $color2 !important;
  }
}

.section-title{
  text-align: center;
  color: $color1;
  margin-top: 50px;
}

.about-wrapper{
  display: flex;
  justify-content: space-between;
  padding: 40px 30px;
  max-width: 1180px;
  margin: 30px auto;
  background: #fff;
  border-radius: 10px;

}

.about-item{
  display: block;
  position: relative;
  width: 32%;
}

.img-area{
  position: relative;

  img{
    border-radius: 10px;
    overflow: hidden;
    position: relative;
  }
}

.icon{
  content: '';
  display: block;
  width: 90px;
  height: 90px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -50px;
  margin: auto;
}

.area1:after{
  @extend .icon;
  background: url(../images/about1.png) no-repeat;
}

.area2:after{
  @extend .icon;
  background: url(../images/about2.png) no-repeat;
}

.area3:after{
  @extend .icon;
  background: url(../images/about3.png) no-repeat;
}

.text-area__title{
  font-size: 1.8rem;
  text-align: center;
  color: $color1;
  margin: 40px 0 10px;
}

.text-area__text{
  line-height: 26px;
  width: calc(100% - 30px);
  padding-left: 20px;
  margin-bottom: 14px;
}

.line{
  background: url(../images/line.png) repeat;
  background-size: auto 50px;
  max-width: 1180px;
  margin: 50px auto 0;
}

.policy-box{
  margin-top: 30px;
  ul{
    border: 3px solid $color1;
    border-radius: 10px;
    border-top: 10px solid $color1;
    max-width: 600px;
    margin: 0 auto;
    position: relative;

    &:after{
      content: '';
      background: url(../images/policy.png);
      width: 140px;
      height: 130px;
      position: absolute;
      bottom: -50px;
      right: -30px;
    }
  }
  
  li{
    padding: 10px;
    border-bottom: 1px dashed $color1;
    margin: 0 10px;

    &:last-child{
      border-bottom: none;
    }
  }
}

.footer{
  background: url(../images/footer.png) top center no-repeat;
  margin-top: 50px;
  height: 600px;
}

.footer-logo{
  margin-top: 100px;
}

.footer-tel{
  margin-top: 30px;
}

.tel-number{
  display: block;
  font-size: 2.4rem;
  font-weight: bold;
  position: relative;
  text-align: center;
  width: 300px;
  margin: 0 auto;
  padding-left: 30px;

  &:before{
    content: '';
    position: absolute;
    left: -5px;
    top: 15px;
    width: 25px;
    height: 32px;
    display: inline-block;
    background: url(../images/tel.svg) no-repeat center;
  }
}

.footer-p{
  text-align: center;
  margin-top: 20px;
}

.copy{
  text-align: center;
  background: $color1;
  padding: 10px 0;
  font-size: 0.8rem;
}